<?xml version="1.0" ?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="iron_blast_furnaces"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.neoforged.devlaunch.Main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value=" @/Users/beaufontenot/MCreatorWorkspaces/iron_blast_furnaces/build/moddev/serverRunProgramArgs.txt"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value=" @/Users/beaufontenot/MCreatorWorkspaces/iron_blast_furnaces/build/moddev/serverRunVmArgs.txt -Dfml.modFolders=mcreator%%/Users/beaufontenot/MCreatorWorkspaces/iron_blast_furnaces/bin/main"></stringAttribute>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/beaufontenot/MCreatorWorkspaces/iron_blast_furnaces/run"></stringAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.STOP_IN_MAIN" value="false"></booleanAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"></booleanAttribute>
</launchConfiguration>